[Desktop Entry]
Name=Bittorrent Magnet Link handler
GenericName=BitTorrent Client
Comment=Download and share files over BitTorrent
Exec=/usr/bin/transmission-remote 127.0.0.1:9091 -a '%u'
Type=Application
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Categories=Network;FileTransfer;P2P;Qt;
X-AppInstall-Keywords=torrent
