[Desktop Entry]
Name=Master of Orion 2
Exec=env WINEDLLOVERRIDES="mscoree,mshtml=" wine ORION95.exe
Type=Application
StartupNotify=true
Path=$HOME/games/mo2
Icon=FEAA_goggame-1207661633.0
StartupWMClass=dosbox.exe
