* {
    border: none;
    border-radius: 0;
    font-family: Roboto;
    font-size: 16px;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
}

.modules-right {
  margin: 1px;
	background-color: rgba(90, 90, 90, 0.85);
  color: white;
}
.modules-center {
  margin: 1px;
	background-color: rgba(90, 90, 90, 0.85);
  color: white;
}
.modules-left {
  margin: 1px;
}

#workspaces button {
  margin-left: 2px;
  padding: 1px 5px;
  background-color: transparent;
  border: 1px solid rgba(90, 90, 90, 0.85);
  color: rgba(0,43,51,0.85);
}
#workspaces button:hover {
  box-shadow: inherit;
}
#workspaces button.focused {
  border: 1px solid rgba(255, 255, 255, 0.85);
	background-color: rgba(90, 90, 90, 0.85);
  color: white;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray {
  padding: 0 10px;
}

#pulseaudio.muted {
  color: #cc3436;
}

#battery.charging {
  color: #2dcc36;
}
#battery.warning:not(.charging) {
	color: #e6e600;
}
#battery.critical:not(.charging) {
  color: #cc3436;
}

#temperature.critical {
  color: #cc3436;
}
