[Unit]
OnFailure=notify-failure@%n

[Service]
Type=oneshot
Environment=GOPATH=%h
ExecStart=/usr/bin/curl \
  -fLo %h/.config/nvim/autoload/plug.vim \
  --create-dirs https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
ExecStart=/usr/bin/nvim --headless -c 'PlugUpdate' -c 'q!' -c 'q!'
ExecStart=/usr/bin/nvim --headless -c 'PlugClean'  -c 'q!' -c 'q!'
ExecStart=/usr/bin/nvim --headless -c 'UpdateRemotePlugins' -c 'q!'
TimeoutStopSec=10min
KillMode=process
KillSignal=SIGINT
