[Unit]
Description=Sets transparency on inactive windows

[Service]
ExecStart=/usr/local/lib/sway/inactive-transparency

[Install]
WantedBy=sway-session.target
