[Unit]
Description=Sets random sway backgrounds

[Service]
Type=oneshot
ExecStart=/usr/local/lib/sway/random-background %I

[Install]
WantedBy=sway-session.target
