[Unit]
Description=Picom
OnFailure=notify@%n

[Service]
ExecStart=/usr/bin/picom --config=${HOME}/.config/picom.conf
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
