[Unit]
Description=Lock screen before sleep
OnFailure=notify-failure@%n

[Service]
ExecStart=/usr/bin/swayidle -w \
  before-sleep '/usr/bin/systemctl --user stop inactive-transparency' \
  before-sleep '/usr/bin/swaylock --ignore-empty-password --show-failed-attempts --indicator-caps-lock --color="000000" --daemonize' \
  after-resume '/usr/bin/systemctl --user start inactive-transparency'
Restart=always
RestartSec=2

[Install]
WantedBy=sway-session.target
