[Unit]
Description=Bar for Sway
Documentation=https://github.com/Alexays/Waybar/wiki/
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/waybar
Restart=always

[Install]
WantedBy=sway-session.target
