[Unit]
  Description=Automatic Update
  After=network-online.target

# TODO do not try to update while on certain wifis (e.g. hotspots over mobile data)
#      might be easiest to rather whitelist wifis
#
# TODO update AUR packages as well using yay
#
# TODO add notifications in case of failure
#      currently i have to check that manually every now and then
#      which is tedious
#
[Service]
  Type=simple
  ExecStart=/usr/bin/pacman -Syuq --noconfirm
  TimeoutStopSec=180
  KillMode=process
  KillSignal=SIGINT

[Install]
  WantedBy=multi-user.target
