[Unit]
Description=Pacman mirrorlist update
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/lib/refresh-mirrorlist

[Install]
RequiredBy=multi-user.target
